$white: #f8f8ff;
$bg: #1c2833;
$bright-green: #c8f200;
$dull-green: #818c26;
$tomato: tomato;
$lightsteel: #b0c4de;

$primary: #4252ae;
$red: #b22222;

.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}

.text-red {
  color: $red;
}

.text-bright {
  color: #00bfff;
}

.text-tomato {
  color: tomato;
}
