$white: #f8f8ff;
$bg: #1c2833;
$tomato: tomato;
$tomato-dark: #e75a40;
$bright: #00bfff;
$bright-dark: #008ab8;
$lightsteel: #b0c4de;

$primary: #4252ae;
$red: #b22222;

.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}

.text-red {
  color: $red;
}

.text-bright {
  color: #00bfff;
}

.text-tomato {
  color: tomato;
}

.bg-bright {
  background-color: #008ab8;
}

.bg-tomato {
  background-color: tomato;
}
